.section {
  min-height: 100vh;
  
  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: 50% 50%;
  }

}

.content {
  
  max-width: 600px;
  display: flex;
  justify-content: center;
  // gap: 16px;
  flex-direction: column;
  margin: 0 auto;

  padding: 32px;
  
  @media (min-width: 1024px) {
    margin: 0;
    padding: 0;
    padding-left: 44px;
  }

  h2, p {
    margin: 0;
  }
  ul {
    padding: 0;
    margin: 16px 0;
    list-style: none;

    display: inline-flex;
  align-items: center;
  gap: 16px;

  a {

  }

  
}


  h2 {
    font-size: 32px;
    line-height: 1.2;
    font-family: var(--font-monument);
    letter-spacing: 2px;
    margin-top: 16px;

    font-size: 48px;
    @media (min-width: 1024px) {
      font-size: 64px;
    }
  }

  p {
    font-family: var(--font-inter);
  }

  p:nth-of-type(1) {
    font-size: 16px;
  }
  
  p:nth-of-type(2) {
    margin-top: 16px;
    font-size: 24px;
  }
  
  a {
    font-family: var(--font-inter);
    font-size: 16px;
    padding: 16px 32px;
    border-radius: 32px;
  }

  ul {
    margin-top: 48px;
  }

  li:nth-of-type(1) {
    a {
      color: black;
      background-color: white;
    }
  }

  li:nth-of-type(2) {
    a {
      outline: 1px solid white;
    }
  }
}

.canvas {
  background-color: 'black' !important; 
  height: 50vh !important; 
  width: 100% !important;

  @media (min-width: 1024px) {
    height: 100vh !important;
  }
}